.shejishi_big{width:100%;height:384px;overflow: hidden;}
.shejishi_big img{width:100%;height:384px}

.div_nav{height:57px;border-bottom: 1px solid #e7e7e7;background:#F7F7F7;}
.div_nav ul{width:1200px;margin:0 auto;line-height: 57px;}
.div_nav ul li{}
.div_nav ul li a{display:inline-block}
.div_nav ul .li2{margin-right:7px}
.div_nav ul .li2 a{margin-left:17px}

.shejishi_div_div1{width:1200px;margin:0 auto;padding-top:30px;border-bottom: 1px solid #e7e7e7;padding-bottom: 30px;}
.shejishi_div_div1_div1{width:111px;}
.shejishi_div_div1_div1 img{width:83px;height:83px;border-radius: 50%;}

.shejishi_div_div1_div2{width:175px;}
.shejishi_div_div1_div2_p1{font-size: 16px;}
.shejishi_div_div1_div2_p3{margin-top:20px;}
.shejishi_div_div1_div2_p3 a{display:inline-block;}
.shejishi_div_div1_div2_p3_sp1{display:inline-block;height:21px;width:55px;border:1px solid #00DEBD;border-radius: 5px;text-align: center;line-height: 21px;color:#00DEBD;margin-right:10px;}
.shejishi_div_div1_div3_div1{width:207px;height:207px;position: relative;margin-left:20px}
.shejishi_div_div1_div3_div1 img{width:207px;height:207px}
.shejishi_div_div1_div3_div1 div{width:177px;height:177px;position: absolute;top:15px;left:15px;background:rgba(255,255,255,0.5)}
.shejishi_div_div1_div3_div1_div1{display:none}
.shejishi_div_div1_div3_div1_div1 p{margin-left:20px;clear:both}
.shejishi_div_div1_div3_div1_div1_p1{margin-top:130px;margin-bottom:3px}
.shejishi_div_div1_div3_div1_div1_p1 span{display:block;float:left}
.shejishi_div_div1_div3_div1_div1_p1 .shejishi_div_div1_div3_div1_div1_p1_sp1{width:12px;height:12px;margin-left:5px;margin-top:2px;background:url(/3dcreatia/images/pc/082.png)}
.shejishi_div_div1_div3_div1_div1_p1 .shejishi_div_div1_div3_div1_div1_p1_sp2{width:12px;height:12px;margin-left:5px;margin-top:2px;background:url(/3dcreatia/images/pc/081.png);display:none}
.shejishi_div_div1_div3_div1_div1_p1 .shejishi_div_div1_div3_div1_div1_p1_sp3{width:12px;height:12px;margin-left:5px;margin-top:2px;background:url(/3dcreatia/images/pc/081.png)}
.shejishi_div_div1_div3_div1 .shejishi_div_div1_div3_div1_div1 img{width:12px;height:12px;margin-left:5px;margin-top:2px}

.shejishi_qing{clear: both;}











