.mima_right{margin-left:30px;width:910px}
.mima_right_p1{height:29px;border-bottom: 2px solid #ccc;font-size: 18px;text-indent: -8px;margin-top:-2px}
.mima_right_p2{text-align: right;margin-right:50px;margin-top:12px;background:url(../img/033.gif) no-repeat 800px 5px}
.mima_right_div1{height:32px;margin-left:310px;padding-left:20px;background:url(../img/033.gif) no-repeat 5px 13px;margin-top:24px;}
.mima_right_div1 input{width:218px;height:28px;margin-left:7px}
.mima_right_div2{height:32px;margin-left:310px;padding-left:20px;background:url(../img/033.gif) no-repeat 5px 13px}
.mima_right_div2 input{width:218px;height:28px;margin-left:7px}
.mima_right_div3{height:32px;margin-left:298px;padding-left:20px;background:url(../img/033.gif) no-repeat 5px 13px}
.mima_right_div3 input{width:218px;height:28px;margin-left:7px}
.mima_right_btn1{height:30px;width:222px;text-align: center;line-height: 30px;background:#01DEBD;font-size: 14px;color:#fff;border:0;margin-left:376px}
.mima_right_btn1:hover{background:#00caac}

.mima_right_div4{margin-left:376px;height:18px;}
.mima_right_div4_img1{margin-top:-25px;margin-left:245px;display:none}
.mima_right_div4_img2{margin-top:-25px;margin-left:245px;display:none}
.mima_right_div4_img3{margin-top:-25px;margin-left:257px;display:none}