*{margin:0;padding:0;}
a{text-decoration: none;}
.zhaohui_img1{display:block;width:915px;height:215px;margin:0 auto;margin-top:50px}
.zhaohui_div1{width:380px;margin:0 auto}
.zhaohui_div1_p1{height:20px;}
.zhaohui_div1_p1 span{font-size:12px;line-height:20px}
.zhaohui_p1{width:915px;margin:0 auto}
.zhaohui_div1 span{margin:2px 0px;height:10px;margin:0 auto}
.zhaohui_p1_sp1{display:inline-block;width:420px;color:#000;}
.zhaohui_p1_sp2{display:inline-block;width:415px;color:#ccc;}
.zhaohui_p1_sp3{display:inline-block;width:;color:#ccc;}
.zhaohui_div1_input1{display:block;width:371px;height:47px;padding-left:5px;margin-top:95px;}
.zhaohui_div1_a1{display:block;width:380px;height:47px;background:#00DDBD;color:#fff;text-align: center;line-height: 47px;font-size: 18px;}
.zhaohui_div1_a2{display:block;width:380px;text-align: right;font-size: 12px;margin-top:10px;color:#000}
.hei{color:#000}


.zhaohui2_div1{width:380px;margin:0 auto}
.zhaohui2_div1_p1{text-align: center;font-size: 24px;margin-top:95px;height:35px;}
.zhaohui2_div1_p2{text-align: center;font-size: 12px;color:#888;height:17px;}
.zhaohui2_div1_p3{text-align: center;font-size: 12px;color:#888;height:17px;}
.zhaohui2_div1_a1{display:block;width:380px;height:47px;background:#00DDBD;margin-top: 20px;color:#fff;text-align: center;line-height: 47px;font-size: 18px;}


.zhaohui3_div1{width:380px;margin:0 auto}
.zhaohui3_div1_in1{display:block;width:371px;height:47px;padding-left:5px;margin-top:90px}
.zhaohui3_div1_in2{display:block;width:371px;height:47px;padding-left:5px;}
.zhaohui3_div1_p1{height:20px;}
.zhaohui3_div1_p1 span{display:block;font-size:12px;line-height:20px}
.zhaohui3_div1_p2{height:20px;}
.zhaohui3_div1_p2 span{display:block;font-size:12px;line-height:20px}
.zhaohui3_div1_a1{display:block;width:380px;height:47px;background:#00DDBD;color:#fff;text-align: center;line-height: 47px;font-size: 18px;}

.zhaohui3_div2{width:380px;margin:0 auto;}
.zhaohui3_div2_p1{text-align: center;font-size: 24px;margin-top:95px;height:35px;}
.zhaohui3_div2_a1{display:block;width:380px;height:47px;background:#00DDBD;margin-top: 20px;color:#fff;text-align: center;line-height: 47px;font-size: 18px;}

.zhaohui_img2{margin-top:-35px;margin-left:360px;display:none}
.zhaohui_img3{margin-top:-35px;margin-left:360px;display:none}
.zhaohui_img4{margin-top:-35px;margin-left:360px;display:none}

