<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yfhl.mapper.UserAddressMapper">
	<resultMap id="BaseResultMap" type="com.yfhl.entity.UserAddress">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="address_area" property="addressArea" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="is_default" property="isDefault" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="province_id" property="provinceId" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="address_areaid" property="addressAreaid"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, username, telephone, email, zipcode, province,
		city,
		address_area, address,
		is_default, add_time, province_id, city_id,
		address_areaid
	</sql>
	<!-- luans:根据ID查询收货地址信息 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hs_user_address
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- luans:删除用户收货地址信息 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		hs_user_address
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yfhl.entity.UserAddress">
		insert into hs_user_address
		(id, uid, username,
		telephone, email, zipcode,
		province, city,
		address_area,
		address, is_default, add_time,
		province_id, city_id,
		address_areaid
		)
		values (#{id,jdbcType=INTEGER},
		#{uid,jdbcType=INTEGER},
		#{username,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{zipcode,jdbcType=INTEGER},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{addressArea,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{isDefault,jdbcType=INTEGER},
		#{addTime,jdbcType=TIMESTAMP},
		#{provinceId,jdbcType=INTEGER},
		#{cityId,jdbcType=INTEGER},
		#{addressAreaid,jdbcType=INTEGER}
		)
	</insert>
	<!-- luans:添加用户收货地址 -->
	<insert id="insertSelective" parameterType="com.yfhl.entity.UserAddress">
		insert into hs_user_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="zipcode != null">
				zipcode,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="addressArea != null">
				address_area,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="provinceId != null">
				province_id,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="addressAreaid != null">
				address_areaid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				#{zipcode,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="addressArea != null">
				#{addressArea,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="provinceId != null">
				#{provinceId,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=INTEGER},
			</if>
			<if test="addressAreaid != null">
				#{addressAreaid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<!-- luans:修改用户收货地址信息 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.yfhl.entity.UserAddress">
		update hs_user_address
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				zipcode = #{zipcode,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="addressArea != null">
				address_area = #{addressArea,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="addressAreaid != null">
				address_areaid = #{addressAreaid,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yfhl.entity.UserAddress">
		update
		hs_user_address
		set uid = #{uid,jdbcType=INTEGER},
		username =
		#{username,jdbcType=VARCHAR},
		telephone =
		#{telephone,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		zipcode = #{zipcode,jdbcType=INTEGER},
		province =
		#{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		address_area = #{addressArea,jdbcType=VARCHAR},
		address =
		#{address,jdbcType=VARCHAR},
		is_default =
		#{isDefault,jdbcType=INTEGER},
		add_time =
		#{addTime,jdbcType=TIMESTAMP},
		province_id =
		#{provinceId,jdbcType=INTEGER},
		city_id = #{cityId,jdbcType=INTEGER},
		address_areaid = #{addressAreaid,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<!-- luans:根据用户Id查询用户收货地址 -->
	<select id="queryUserAddressByUid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hs_user_address
		where uid = #{uid,jdbcType=INTEGER}
		ORDER BY
		is_default DESC

	</select>
	<!-- luans:设置为默认地址 -->
	<update id="setDefault" parameterType="java.lang.Integer">
		update hs_user_address set
		is_default=1 where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- luans:清空默认地址 -->
	<update id="clearDefault" parameterType="java.lang.Integer">
		update hs_user_address
		set
		is_default=0 where uid = #{uid,jdbcType=INTEGER}
	</update>
	<!-- chris li：根据用户的编号查询所有地址 -->
	<select id="selectUserAddressListByUid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hs_user_address
		where uid = #{uid,jdbcType=INTEGER} ORDER BY add_time DESC
	</select>
</mapper>