*{margin:0;padding:0;}

.clearBoth{clear: both;}

body{background: #F5F5F5;font-family: "黑体";}
.head{height:40px;line-height: 40px;text-align: center;font-size: 1rem;background: #fff;margin-bottom: 5px;border-bottom: 2px solid #f1f1f1;}

.nav{height:28px;line-height: 24px;padding:0 10px;background: #F5F5F5;color:#888;font-size: 0.9rem;}
.nav div{height:28px;line-height: 24px;float:left;width:25%;text-align: center;position: relative;}
.nav div span{width:14px;height:14px;line-height:15px;text-align:center;border-radius:50%;background:#00DEBD;color:#fff;position: absolute;top:0px;right:17px;font-family: arial;font-size: 0.7rem;}
.nav .divBlue{color:#00DEBD;border-bottom: 2px solid #00DEBD;}
.nav .divThis span{display:none}

.state{clear: both;font-size: 0.75rem;background:#fff;padding:0 10px;margin-bottom: 5px;border-bottom: 2px solid #f1f1f1;}
.state_div1{height:28px;line-height: 28px;padding-top:10px;}
.state_div1_sp1{float:left;margin-left:-5px;font-family: arial;text-indent: -3px;font-size: 0.9rem;color:#111}
.state_div1_sp1 .state_div1_sp1_sp1{display:inline-block;height:15px;line-height:15px;background:#000;color:#fff;font-family: "黑体";font-size: 0.8rem;padding:0 5px;border-radius: 10px;text-indent: 0;margin-left:7px}
.state_div1_sp2{float:right;color:#ED565C}
.state_div1_sp3{float:right;color:#545454}
.state_div1_sp2_555{color:#555}
.shixiao .state_div2_div1 p{color:#b7b7b7}
.shixiao .state_div3_div1{color:#b7b7b7}
.state_div2{padding-bottom: 10px;background:url(../img/050.gif) bottom repeat-x}
.state_div2_img1{float:left;height:55px;}
.state_div2_div1{float:left;font-size: 0.7rem;margin-left:10px;color:#555}
.state_div2_div1 p{margin-top:3px;}
.state_div2_div1_p2{color:#B7B7B7;font-size: 0.7rem;}

.state_div3{height:44px;padding-top: 10px;font-size: 1rem;}
.state_div3_div1{float:left;line-height: 9px;font-size: 0.8rem;color:#555}
.state_div3_div1 span{font-family: arial;}
.state_div3_div2{float:right}
.state_div3_div2 div{width:62px;height:24px;text-align: center;line-height: 24px;border-radius: 15px;font-size: 0.8rem;}
.state_div3_div2_div1{float:right;border:1px solid #00DEBD;margin-left:10px;color:#00DEBD}
.state_div3_div2_div2{float:right;background:#F3F3F3;color:#555}
.state_div3_div2_div3{float:right;border:1px solid #00DEBD;margin-left:10px;color:#00DEBD}
.state_div3_div2_div4{float:right;border:1px solid #00DEBD;margin-left:10px;color:#00DEBD}
.state_div3_div2_div5{float:right;height:12px;}

.foot{text-align: center;height:50px;line-height: 50px;color:#D2D2D2;background:#f5f5f5;font-size: 0.8rem;}

.tishi{padding-top:50px;background:#fff;height:100%}
.tishi p{text-align: center;line-height: 25px;font-size: 0.9rem;color:#B7B7B7}
.tishi p a{color:#00DEBD}

