.xiangqing_div1{height:484px;}
.xiangqing_div1 p{padding-left:50px}
.xiangqing_div1_p1{height:40px;margin-top:47px;font-size: 18px;}
.xiangqing_div1_p2{height:21px}
.xiangqing_div1_p2 a{display:inline-block;color:#0066CC;margin-left:3px}
.xiangqing_div1_p2 a:hover{text-decoration: underline;}
.xiangqing_div1_p2_sp1{color:#FF6714}
.xiangqing_div1_p3{height:25px}
.xiangqing_div1_p3 a{display:inline-block;height:21px;width:67px;background:#00debd;text-align: center;line-height: 21px;color:#fff;margin:0 5px}
.xiangqing_div1_p3 a:hover{background:#00caac}
.xiangqing_div1_p4{height:52px}
.xiangqing_div1_p4 a{display:inline-block;color:#0066CC;margin:0 2px}
.xiangqing_div1_p4 a:hover{text-decoration: underline;}
.xiangqing_div1_p4 .wancheng{color:#000;margin:0}
.xiangqing_div1_p4 .wancheng:hover{text-decoration: underline;}
.xiangqing_div1_p5{height:40px;font-size: 18px;}
.xiangqing_div1_p6{height:25px}
.xiangqing_div1_p7{height:24px}
.xiangqing_div1 .xiangqing_div1_p8{height:28px;width:1100px;border-bottom: 1px dashed #ccc;margin:0 auto;padding:0;}
.xiangqing_div1_p9{height:44px;margin-top:14px}
.xiangqing_div1_img1{margin-left:143px}
