.xiangqing_p{width:1200px;height:36px;margin:0 auto;margin-top:13px}
.xiangqing_p a{display:inline-block}
.xiangqing_div1{width:1200px;background:#FFFEF3;margin:0 auto;border:1px solid #FDEBC7}
.xiangqing_div2{width:1200px;margin:0 auto;margin-top:47px}
.xiangqing_div2_p1{border-bottom:1px solid #ccc;height:30px;font-size: 18px;text-indent: -10px;}

.xiangqing_div2_div1{height:75px;margin-top:25px;border-bottom: 1px dashed #ccc;padding-bottom: 6px;}

.xiangqing_div2_div1_p1{height:25px;}
.xiangqing_div2_div1_p1_sp1{font-size: 14px;display:inline-block;margin-right:15px}
.xiangqing_div2_div1_p2{padding-left:75px;height:23px;}
.xiangqing_div2_div1_p3{padding-left:75px;height:23px;}
.xiangqing_div2_div1_p3_sp1{display:inline-block}
.xiangqing_div2_div1_p3_sp1_sp1{display:inline-block;margin-right:20px}
.xiangqing_div2_div1_p1_sp2{display:inline-block}
.xiangqing_div2_div1_p1_sp2_sp1{display:inline-block;margin-right:2px}
.xiangqing_div2_div1_p1_sp2_sp2{display:inline-block;margin-right:3px}

.xiangqing_div2_div2{height:55px;margin-top:15px;border-bottom:1px dashed #ccc}
.xiangqing_div2_div2_p1_sp1{font-size: 14px;display:inline-block;margin-right:15px}
.xiangqing_div2_div2 p{height:23px;}
.xiangqing_div2_div2_p2{padding-left:75px}

.xiangqing_div2_div3{padding-bottom:22px;margin-top:17px;}
.xiangqing_div2_div3_p1{height:25px;}
.xiangqing_div2_div3_p1_sp1{font-size: 14px;display:inline-block;margin-right:15px}
.xiangqing_div2_div3_p2{padding-left:75px;height:23px}
.xiangqing_div2_div3 .xiangqing_div2_div3_p3{padding-left:75px;height:23px}
.xiangqing_div2_div3 .xiangqing_div2_div3_p4{padding-left:75px;height:23px}
.xiangqing_div2_div3 .xiangqing_div2_div3_p5{padding-left:75px;height:23px}
.xiangqing_div3{width:1200px;margin:0 auto}
.xiangqing_div3_div1{height:30px;background:#000;color:#fff;line-height:30px;font-size: 14px;}
.xiangqing_div3_div1 span{display:inline-block}
.xiangqing_div3_div1_sp1{width:358px;padding-left:20px}
.xiangqing_div3_div1_sp2{width:157px;}
.xiangqing_div3_div1_sp3{width:130px;}
.xiangqing_div3_div1_sp4{width:198px;}
.xiangqing_div3_div1_sp5{width:188px;}
.xiangqing_div3_div1_sp6{width:;}

.xiangqing_div3_div2{border:1px solid #e7e7e7;padding-left:20px}
.xiangqing_div3_div2_div1_div1{width:982px;}
.xiangqing_div3_div2_p1{clear: both;}
.xiangqing_div3_div2_div1_div1_ul1{height:115px;border-bottom:1px dashed #e7e7e7;border-right:1px solid #E7E7E7}
.xiangqing_div3_div2_div1_div1_ul1 li{float:left}

.xiangqing_div3_div2_div1_div1_ul1_li1{width:347px;margin-top:20px}
.xiangqing_div3_div2_div1_div1_ul1_li2{width:155px;padding-left:10px;margin-top:20px;}
.xiangqing_div3_div2_div1_div1_ul1_li3{width:111px;padding-left:20px;margin-top:20px;}
.xiangqing_div3_div2_div1_div1_ul1_li4{width:163px;padding-left:30px;margin-top:20px;}
.xiangqing_div3_div2_div1_div1_ul1_li5{width:;padding-left:20px;margin-top:20px;}

.xiangqing_div3_div2_div1_div1_ul1_li1 img{width:77px;height:77px;float:left}
.xiangqing_div3_div2_div1_div1_ul1_li1 div{float:left;padding-left:15px}
.xiangqing_div3_div2_div1_div1_ul1_li1_div1_p1{height:46px;}
.xiangqing_div3_div2_div1_div1_ul1_li1_div1_p1 a:hover{text-decoration: underline;color:#00DEBD}
.xiangqing_div3_div2_div1_div1_ul1_li1_div1_p2{height:18px;}

.xixian{height:2px;background: #E6E6E6;}

.xiangqing_div3_div2_div1_div2{text-align: center;width:195px;margin-top:20px;}

.xiangqing_div3_div2_p1{border-top: 1px solid #e7e7e7;height:50px;line-height: 50px;}

.xiangqing_p2{text-align: right;height:77px;line-height: 77px;font-size: 18px;margin-bottom: 75px;}
.xiangqing_p2 span{font-size:30px;color:#FF6714}

/*此处开始无用仅为美观*/

.yincangul1{border-bottom:0}
