@charset "utf-8";
.main {margin-left: 10px; margin-top: 20px;}
.add {margin-left: 100px;}
.add2 {margin-left: 24px;}
.span{color: red;}
.inp {background-color: gray;}
.warm{color: #FFFFFF;}
.warm2{color: red;}
