.motai_quxiaodingdan{width:100%;height:100%;position: fixed;top:0;left:0;background: rgba(0,0,0,0.5);display:none}

.motai_waitao1{width:100%;height:100%;position: fixed;top:0;left:0;display:none}
.motai_quxiao{width:360px;height:405px;margin:0 auto;margin-top:150px;background:#fff;}
.motai_quxiao p{font-size: 14px;}
.motai_quxiao_p1{width:288px;margin:0 auto;border-bottom: 1px dashed #ccc;height:33px;padding-top:30px;margin-bottom: 15px;}
.motai_quxiao_p2{width:288px;margin:0 auto;height:30px;}
.motai_quxiao_p2 input{display: block;float:left;margin-right:10px}
.motai_quxiao_a1{display: block;height:28px;width:105px;background: #00debd;color:#fff;font-size: 14px;text-align: center;line-height: 28px;margin-left:35px;margin-top: 15px;}
.motai_quxiao_a2{display: block;height:28px;width:70px;background: #ccc;color:#000;font-size: 14px;text-align: center;line-height: 28px;margin-left:10px;margin-top: 15px;}

.motai_waitao2{width:100%;height:100%;position: fixed;top:0;left:0;display:none}
.motai_shanchu{width:325px;height:145px;margin:0 auto;margin-top:150px;background:#fff}
.motai_shanchu p{margin-left:70px;font-size: 14px;padding-top:38px;}
.motai_shanchu_a1{display: block;height:28px;width:105px;background: #00debd;color:#fff;font-size: 14px;text-align: center;line-height: 28px;margin-left:70px;margin-top: 15px;}
.motai_shanchu_a2{display: block;height:28px;width:70px;background: #ccc;color:#000;font-size: 14px;text-align: center;line-height: 28px;margin-left:10px;margin-top: 15px;}






