html,body{font-family: "微软雅黑";}
.tuihuanhuo p{height:30px;}
.shoucang_left_div1 .shoucang_left_div1_div2 .shoucang_left_div1_div2_p1{font-family: arial;}
.tuihuanhuo_p1,.tuihuanhuo_p13,.tuihuanhuo_p20{font-size: 14px;color:#00DEBD;margin-top:30px}
