.geren_right{margin-left:30px;width:940px}
.geren_p1{height:29px;border-bottom: 2px solid #ccc;font-size: 18px;text-indent: -8px;margin-top: -2px;}
.geren_right_p1{height:47px;margin:32px 0 0 48px;color:#aaa}
.geren_right_p1 span{color:#000;display:inline-block;margin-left:20px}
.geren_right_p2{height:47px;margin-left:60px;color:#aaa}
.geren_right_p2 input{width:218px;height:28px;margin-left:20px}
.geren_right_div1{height:90px;margin-left:72px;color:#aaa;margin-top:8px}
.geren_right_div1_div1{margin:0 10px 0 20px}
.geren_right_div1_div2_p1{height:22px;color:#01DEBD}
.geren_right_div1_div2_p1 a{color:#01DEBD}
.geren_right_div1_div2_p1 a:hover{text-decoration: underline;}
.geren_right_div1_div2_p2{height:;}
.geren_right_div2{height:47px;margin-left:72px;margin-top:8px}
.geren_right_div2 span{display:inline-block;float:left}
.geren_right_div2 input{display:inline-block;float:left;margin-left:3px;margin-top:2px;margin-right:50px}
.geren_right_div2_sp1{color:#aaa;margin-right:25px}
.geren_right_div3{height:47px;margin-left:72px}
.geren_right_div3_sp1{display:inline-block;margin-right:20px}
.geren_right_div3_select1{width:130px;height:28px;}
.geren_right_div3_select2{width:80px;height:28px;}
.geren_right_div3_select3{width:80px;height:28px;}
.geren_right_div3 span{color:#aaa}
.geren_right_div4{height:47px;margin-left:72px}
.geren_right_div4 span{color:#aaa;display:inline-block;margin-right:17px}
.geren_right_div4 input{width:218px;height:28px;}
.geren_right_div5{height:47px;margin-left:72px;margin-top:8px}
.geren_right_div5 span{color:#aaa;display: inline-block;margin-right:17px}
.geren_right_div5 input{width:218px;height:28px}
.geren_right_div6{height:47px;margin-left:48px}
.geren_right_div6 span{color:#aaa}
.geren_right_div6 input{width:218px;height:28px;margin-left:17px}
.geren_right_btn1{height:30px;width:95px;text-align: center;line-height: 30px;background:#01DEBD;color:#fff;border:0;font-size: 14px;margin-left:128px;margin-top:15px;}
.geren_right_btn1:hover{background:#00caac}
